 html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none!important;
    color: #0B093B;
  }
  a:hover {
    color: #7620FF;
  }
  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #fff inset; /* Change the color to your own background color */
    box-shadow: transparent;
    -webkit-text-fill-color: #fff;
  }
  body {
    background: #fff;
    color: #0B093B;
    font-family: 'Khula', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
  }
  .container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 30px;
  }
  @media only screen and (max-width: 859px) {
    .container {
      padding: 0 15px;
    }
  }
  .regular {
    font-weight: 400!important;
  }
  .semiBold {
    font-weight: 600!important;
  }
  .extraBold {
    font-weight: 800!important;
  }

  /* HELLPERS */
  .textCenter {
    text-align: center
  }
  .animate {
    transition: 0.3s ease;
  }
  .pointer {
    cursor: pointer;
  }
  .relative {
    position: relative;
  }
  .textCenter {
    text-align: center;
  }
  .textLeft {
    text-align: left;
  }
  .textRight {
    text-align: right;
  }
  .x100 {
    width: 100%;
  }
  .active {
    border-bottom: 2px solid #7620FF;
    color: #7620FF;
  }
  .tag {
    padding: 5px 10px;
    margin: 10px 0;
  }
  .shadow {
    box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
    -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
    -moz-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
  }
  /* FLEXBOX */
  .flex {
    display: flex;
  }
  .flexSpaceCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexNullCenter {
    display: flex;
    align-items: center;
  }
  .flexColumn {
    flex-direction: column;
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexSpaceNull {
    display: flex;
    justify-content: space-between;
  }

  /* FONT SIZES */
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.75rem;
  }
  .font13 {
    font-size: 0.813rem;
  }
  .font14 {
    font-size: 0.875rem;
  }
  .font15 {
    font-size: 0.938rem;
  }
  .font18 {
    font-size: 1.125rem;
  }
  .font20 {
    font-size: 1.25rem;
  }
  .font25 {
    font-size: 1.563rem;
  }
  .font30 {
    font-size: 1.875rem;
  }
  .font40 {
    font-size: 2.5rem;
  }
  .font60 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
  @media only screen and (max-width: 859px) {
    .font11 {
      font-size: 0.688rem;
    }
    .font12 {
      font-size: 0.688rem;
    }
    .font13 {
      font-size: 0.75rem;
    }
    .font14 {
      font-size: 0.813rem;
    }
    .font15 {
      font-size: 0.813rem;
    }
    .font18 {
      font-size: 0.938rem;
    }
    .font20 {
      font-size: 1.125rem;
    }
    .font25 {
      font-size: 1.25rem;
    }
    .font30 {
      font-size: 1.5rem;
    }
    .font40 {
      font-size: 1.875rem;
    }
    .font60 {
      font-size: 2.8rem;
    }
  }
  /* BORDER RADIUS */
  .radius8 {
    border-radius: 1rem;
  }
  .radius6 {
    border-radius: 0.6rem;
  }
  /* COLORS */
  .darkColor {
    color: #0B093B;
  }
  .purpleColor {
    color: #7620FF;
  }
  .orangeColor {
    color: #F2B300;
  }
  .lightColor {
    color: #F5F5F5;
  }
  .coralColor {
    color: #C4FFFF;
  }
  .greenColor {
    color: #49CB86;
  }
  .greyColor {
    color: #707070;
  }
  .whiteColor {
    color: #fff;
  }
  /* BACKGROUNDS */
  .darkBg {
    background-color: #0B093B;
  }
  .purpleBg {
    background-color: #7620FF;
  }
  .orangeBg {
    background-color: #F2B300;
  }
  .lightBg {
    background-color: #F5F5F5;
  }
  .coralBg {
    background-color: #C4FFFF;
  }
  .greenBg {
    background-color: #49CB86;
  }
  .greyBg {
    background-color: #707070;
  }
  .whiteBg {
    background-color: #fff;
  }
.image_management_cycle{
  /* width: 300px; */
  margin-bottom: 10%;
  margin-right: 200px;
}
.border{
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.card{
  border: 1px solid #0B093B;
  background-color: #0B093B;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 0.6rem;
}
.arrow{
  background-image: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.4));
  border-radius: 100%;
}


/* log In style */


:root{
  --primary: rgba(0,0,0,.4);
  --secondry: rgba(0,0,0,.4);
}
.sign-in-div1{
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Footlight MT Light;
  display: grid;
  place-items: center;
  place-content: center;
  color: #fff;
  background:linear-gradient(135deg, var(--primary), var(--secondry)),
   url(../images/Desktop-Wallpaper-Lauterbrunnen-landscape-pictures-desktop-wallpaper.jpg);
}
.sign-in-div2{
  background-color: #fff;
  color: black;
  border-radius: 10px;
}
.sign-in-div3{
  background-color: #0B093B;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  width: 300px;
  margin: auto;
  height: 100px;
  margin-top: -10%;
  margin-bottom: 40px;
  border-radius: 10px;
}
.sign-in-div4{
  display: flex;
  flex-direction: column;
}
.sign-in-input{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  outline: none;
}
.sign-in-para{
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  padding: 30px;
}
.sign-in-switch{
  margin-left: 20px;
  outline: transparent;
}
.sign-in-label{
  color: #b3b3b3;
  font-weight: bold;
  cursor: pointer;
}
.sign-in-bottom{
  background-color: #0B093B;
  color: #fff;
  margin: 20px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  border: transparent;
  border-radius: 10px;
}
.sign-in-para1{
  color: #b3b3b3;
  text-align: center;
}
.sign-in-href{
  color: #0B093B;
  text-decoration: none;
  font-weight: bold;
}
.sign-in-href:hover{
  color: #0B093B;
}
@media (max-width: 960px){
  .sign-in-div1{
    max-width: 90%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
    /* width: 100%;
    height: 100vh; */
    /* background:linear-gradient(135deg, var(--primary), var(--secondry)),
    url(../images/Desktop-Wallpaper-Lauterbrunnen-landscape-pictures-desktop-wallpaper.jpg);*/
  }
}